/* body */
body{
    height: 100vh;
}

/* header */
.wrapper .home{
    height: 100vh;   
    background: url("../images/hero-bg.jpg" ) ;
    background-position-y:center;
    background-size:cover;
    background-blend-mode: multiply;
}
.wrapper .home .homecontainer{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}


/* about */
/* .about{
    background: lightslategray;
} */
/* .wrapper .about{
    height: 100vh;
} */



/* portfolio */
.wrapper .portfolio{
    /* height: 100vh; */
    background: rgb(62, 62, 62);
}
.wrapper .portfolio .container img{
    background: grey;
    border: none
}
.wrapper .portfolio .container img:hover{
    transform: scale(1.2);
    transition-delay: 0.05s;
    background-color: white;
}






.wrapper .Blog .container button{
   float: right;
}
.wrapper .Blog .container .card:hover{
    background: lightslategray ;
    background-blend-mode: multiply;
    color: white;
    transform: scale(1.1);
    transition-delay: 0.05s;
    border: 1px solid rgb(255, 255, 255) ;
    outline: 5px solid lightslategray;
}
.wrapper .Blog .container .card{
    border-radius: 5px;
}




.wrapper .contact{
    height: 100%;
    background: rgb(62, 62, 62,0.5) url(../images/footer.webp);
    background-blend-mode: multiply;
}

.wrapper .contact .container .row button{
    float: right;
}
.wrapper  .contact .container .row input,.contact .container .row textarea{
    background: transparent;
    color: blanchedalmond !important;
    border: 2px solid black;
}



/* footer */
footer{
    background-color: #212529;
    color: rgb(161, 160, 160);
}
footer hr{
    opacity: 1 ;
    border: none;
    margin: 16px auto;
}

